@use "../abstracts/" as *;

.contact {
    background-color: clr(primary, 200);
    color: #fff;
    padding: 5rem 2rem;

    
 @include mq(small) {
  height: 420px;
  display: flex;

 }
  
    &__inner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      text-align: center;

      @include mq(small) {
        max-width: 490px;
        margin: 0 auto;
        align-self: center;
       }
      
    }
  
    &__top-text {
      font-size: 13px;
      letter-spacing: 5px;
      font-weight: $fw-500;

      
 @include mq(small) {
  margin-bottom: 24px;
    }
    }
  
    &__cta-text {
      font-size: 32px;

      @include mq(small) {
        margin-bottom: 26px;
          }
    }
  }
  
  .contact-btn {
    width: 100%;
    // display: none;
  }
  
  .contact-btn.active {
    margin-top: 1.2rem;
    

    @include mq(small) {
      margin-top: 0;
      
    }
  }
  
  // Input Field
  
  .input-container {
    position: relative;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;

    @include mq(small) {
     flex-direction: row;
    }
  }
  
  .email-field {
    position: relative;
    width: 85vw;
    padding: 8px 15px;
    font-size: 85%;
    border: 0;
    color: clr(primary, 300);
    background-color: #fff;
    border: 2px solid #FFF;
    line-height: 40px;
    border-radius: 5px;
    z-index: 100;

    
 @include mq(small) {
  width: 300px;
  padding: 0.2em 1em;
 }
  }
  
  .email-field.active {
    
    border: 3px solid $color-red;
    
  }
  
  .i-error {
    display: none;
  }
  
  .i-error.active {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 200;

    @include mq(medium) {
      top: 16px;
        }
    
  }
  
  .error-dropdown{
    display: none;
    
  }
  
  .error-dropdown.active {
    display: block;
    position: absolute;
    z-index: 0;
    background-color: $color-red;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    bottom: -27px;
    width: 100%;
    text-align: left;
    
    &__message {
      font-size: 12px;
      font-weight: 500;
      font-style: italic;
      
    }
  }
  