@use "../abstracts/" as *;

.features {
    display: flex;
    flex-direction: column;
    gap: 23px;
  
    &__heading {
      text-align: center;
    }
  
    &__para {
      color: clr(primary, 100);
      margin-bottom: 40px;
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  
    &__button {
      background-color: transparent;
      border: 0;
      box-shadow: 0px;
      cursor: pointer;
      color: clr(primary, 300);
  
      border-bottom: 2px solid rgba($color: #cfcccc, $alpha: 0.5);
      padding-bottom: 25px;
    }
  
    &__button {
      position: relative;
    }
  
    &__button.active {
     
  
      &::after {
        content: "";
        display: block;
        height: 5px;
        background-color: $color-red;
        position: absolute;
        width: 50%;
        left: 0;
        bottom: 0;
        transform: translateX(50%);
      }
    }
  
    button.features__button:nth-child(1) {
      border-top: 2px solid rgba($color: #cfcccc, $alpha: 0.5);
      padding-top: 25px;
    }
  }
  
  .left-content {
    margin-top: 72px;
    margin-bottom: 32px;
  
    &__img-container {
      position: relative;
    }
  }
  
  .right-content {
    text-align: center;
  
    &__heading {
      padding-bottom: 0.6rem;
      margin-top: 2rem;
    }
  
    &__para {
      color: clr(primary, 100);
      margin-bottom: 20px;
    }
  }
  
  .shape.features-shape {
    top: 30%;
    left: -106px;
  }
  