@use "../abstracts/" as *;

.footer {
  background-color: clr(primary, 300);
}

.footer-inner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 3rem 2rem 3rem;
   margin: 0 auto;
  
  @include mq(small) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
  }

  &__left-content{
    margin-bottom: 50px;

    // border: 2px solid red;

    @include mq(small) {
      width: 50vw;
      display: flex;
      flex-direction: row;
      margin: 0;
    }
  }

  &__right-content{
    display: flex;
    gap: 2rem;
    // border: 2px solid limegreen;
  }

  &__logo {
    width: 160px;
    margin-bottom: 40px;

    @include mq(small) {
      margin-right: 5rem;
      margin-bottom: 0;
    }
  }

  
}

.footer {


    
    
  }
  
  .nav-main {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @include mq(small) {
      flex-direction: row;
      gap: 51px;
          }
  
    &__list-item {
      
    }
  
    &__list-link {
      
      font-size: 15px;
      font-weight: lighter;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1.73px;
  
      &:hover {
        color: $color-red;
  
      }
    }
    
  }
  
  .social-icon {
    cursor: pointer;
    &:hover {
      filter: invert(47%) sepia(87%) saturate(631%) hue-rotate(320deg) brightness(104%) contrast(97%);
    }
  }