@use "../abstracts/" as *;

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 560px;
  margin: 0 auto;

  @include mq(medium) {
    grid-column: 1/1;
    grid-row: 1/1;
    max-width: 90%;
    align-items: flex-start;
    align-self: center;
    width: 676px;
  }
}

.hero-paragraph {
  color: clr(primary, 100);
  @include mq(medium) {
    text-align: left;
    
  }

  @include mq(large) {
    max-width: 531px;
      }
}

.hero-image {
  position: relative;

  @include mq(medium) {
    grid-column: 2/2;
    align-self: center;
    justify-self: start;
  }
}

.logo {
  width: 175px;
  height: 25px;
  margin-top: 3px;
  background-image: url("/images/logo-bookmark.svg");
  background-repeat: no-repeat;
}

.logo.white {
  background-image: url("/images/logo-bookmark-white.svg");
  z-index: 40;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 32px;
}

.button[data-type="accent"] {
  border: 2px solid #f7f7f7;
}

.button[data-type="accent"]:hover {
  color: clr(primary, 300);
  background-color: #fff;
  box-shadow: 0 0 0 0;
  border: 2px solid clr(primary, 300);
}

.shape {
  position: absolute;
  top: 45px;
  z-index: -1;
  background-color: clr(primary, 200);
  width: 110%;
  height: 200px;
  left: 80px;
  border-radius: 65px;

  @include mq(small) {
    width: 100vw;
    height: 272px;
    left: -54px;
  }

  @include mq(large) {
    
    height: 355px;
    left: 150px;
    border-radius: 178px;
    top: 58px;
  }
}
