@use "../abstracts/" as *;

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 350px;
    margin: 0 auto;

    @include mq(medium) {
      grid-column: 1/1;
      grid-row: 1/1;
    }
  }
  
  .hero-paragraph {
    color: clr(primary, 100);
  }
  
  .hero-image {
    position: relative;

    @include mq(medium) {
      grid-column: 2/2;
  align-self: center;
    }
  }


  
  .logo {
    width: 175px;
    height: 25px;
    margin-top: 3px;
    // border:1px solid black;
    background-image: url("/images/logo-bookmark.svg");
    background-repeat: no-repeat;
    // background-size: 150px 25px;
  }
  
  .logo.white {
    background-image: url("/images/logo-bookmark-white.svg");
    z-index: 40;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 32px;
  }

  .button[data-type=accent] {
    
    border: 2px solid #F7F7F7;
  }

  .button[data-type=accent]:hover {
    color: clr(primary,300);
    background-color: #FFF;
    box-shadow: 0 0 0 0;
    border: 2px solid clr(primary,300);
  }