@use "../abstracts" as *;

.button {
  
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  border: 0;
  font-size: 14px;
  font-weight: $fw-500;
  letter-spacing: 0.25px;
  padding: 1.125em 1.4em;
  transition: 275ms ease;
  border-radius: 5px;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
 

  &[data-type="primary"] {
    background-color: clr(primary, 200);
    color: #FFF;
    border: 2px solid clr(primary, 200);

    &:hover {

      @include mq(small) {
        color: clr(primary, 200);
        background-color: #FFF;
        box-shadow: 0 0 0 0;
        
      }
      
      
      
    }
  }

  &[data-type="accent"] {
    background-color: #F7F7F7;
    color: clr(primary, 100);
  }

  &[data-type="red"] {
    box-shadow: 0 0 0 0;
    background-color: $color-red;
    color: #FFF;
    border: 2px solid $color-red;

    &:hover {
      @include mq(small) {
        color: $color-red;
        background-color: #FFF;
      }
      
      
    }
  }

//   &[data-type="outline"] {
//     --outline-size: 5px;

//     background: transparent;
//     outline: var(--outline-size) solid clr(neutral, 100);
//     outline-offset: calc(var(--outline-size) * -1);
//     color: clr(neutral, 100);
//   }

//   &:is(:hover, :focus) {
//     background: clr(neutral, 100);
//     color: clr(neutral, 900);
//   }
}