@use "../abstracts/" as *;

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: clr(primary, 300);
  line-height: 1.5;
}

header {
  padding-top: 20px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  // max-width: 1140px;

  @include mq(medium) {
   display: grid;
   grid-template-columns: 720px 1fr;
   grid-template-rows: 1fr; 
  }
}

h1 {
  font-weight: $fw-500;
  @include mq(large) {
    font-size: 3em;
   text-align: left;
     }
}

h2 {
  font-size: 24px;
  font-weight: $fw-500;
}

main {
  padding: 1rem;
  margin:0 auto;


  @include mq(large) {
    // padding: 5rem;
    
     }
}

.master-container {
  max-width: 82rem;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.show {
  z-index: 1;
  background-color: rgba(36, 42, 69, 0.97);
}


//temp
.master-container {
  border: 2px solid black;
}

header {
  border: 2px solid red;
  }